PORT=3000
POLLINATIONS_API_KEY=sk_tuZ0F2v830RQxq6DFPaG5KE1rT5cka31
ABSOLUTE_KEY=zoolai_sk_ABS0LUTEKEY
ADMIN_PASSWORD=zoolai_admin_2025
REDIS_URL=redis://localhost:6379
SMTP_HOST=smtp.protonmail.ch
SMTP_PORT=587
SMTP_USER=zoolai_api@proton.me
SMTP_PASS=your_smtp_password
